<!DOCTYPE html>
<html>
<head>
  <title>Forgot Password</title>
</head>
<body>
  <h1>¡Hola, {{ user.firstName }}!</h1>
  <p>Hemos recibido una solicitud para restablecer tu contraseña.</p>
  <p>Si no realizaste esta solicitud, puedes ignorar este correo.</p>
  <p>De lo contrario, haz clic en el siguiente enlace para restablecer tu contraseña:</p>
  <a href="{{ resetLink }}">Restablecer Contraseña</a>
  <p>Este enlace es válido por una hora.</p>
  <p>¡Gracias!</p>
</body>
</html>
