<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Correo de prueba</title>
</head>
<body>
    <h1>¡Hola!</h1>
    {{#if userName}}
    <p>Hi {{userName}}!</p>
    {{else}}
    {{/if}}
    <p>{{test}}</p>
</body>
</html>
