<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ pageTitle }}</title>
  <!-- Agrega aquí tus enlaces a archivos CSS o scripts comunes -->
</head>

<body>

  <main>

    {{{ body }}}
  </main>

</body>

</html>