<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
</head>

<body>
  <div>
    <h1>Reset Password</h1>
    <form action="confirm-password-change" method="POST">
      <input type="hidden" name="token" value="{{ token }}">
      <div>
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="newPassword" required>
      </div>
      <div>
        <button type="submit">Reset Password</button>
      </div>
    </form>
  </div>
</body>

</html>